
/* artist submit css */
body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #7386D5;
	color: #fff;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* Artist chat css */

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.messages-box {
    height: 560px;
    overflow-y: scroll;
}

.chat-box {
    height: 512px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.chat-with-artist {
    margin-top: 75px;
}

.chat-with-artist-body-container {
    height: 634px;
}

.chat-with-artist-left-container-top {
    padding-top: 1rem;
    padding-bottom: 21px;
    /* background-color: rgb(248 249 250); */
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
}

.chat-with-artist-left-container-top-text {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 38px;
}

.chat-with-artist-left-container-artist-name {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

.chat-with-artist-left-container-artist-msg {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

.chat-with-artist-left-container-artist-category {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
}

.chat-with-artist-body-right-container-top {
    /* background-color: rgb(248 249 250); */
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    /* border-left-style: solid; */
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
}

.chat-with-artist-right-container-artist-name {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

.chat-with-artist-right-container-artist-category {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
}

.patron-message {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    background-color: #f0f0f0;
    padding-left: 10px;
    border-radius: 9px;
}

.artist-message {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    background-color: #ffeaea;
    padding-left: 10px;
    border-radius: 9px;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
}

.back-button {
    cursor: pointer;
    margin-top: 10px;
    margin-left: -13px;
    max-width: 5.333333%;
}

.chat-with-artist-right-container-typing-box {
    height: 0;
}

.typing-box {
    border: none;

}

@media (max-width: 1113px) {

    .chat-with-artist-body {
        max-width: 59rem;
    }
}

@media (max-width: 965px) {

    .chat-with-artist-body {
        max-width: 55rem;
    }
}

@media (max-width: 900px) {

    .chat-with-artist-body {
        max-width: 52rem;
    }
}

@media (max-width: 853px) {

    .chat-with-artist-body {
        max-width: 47rem;
    }
}

.show {}

.hide {}

.minwidth {}

.right-flex {}

@media (max-width: 762px) {
    .chat-with-artist-body {
        max-width: 34rem;
    }

    #chat-with-artist-right-container {
        /* display: none; */
        /* visibility: hidden; */
    }

    .chat-with-artist-right-container-typing-box {
        height: 49px;
    }

    .show {
        visibility: visible;
    }

    .hide {
        visibility: hidden;

    }

    .minwidth {
        max-width: 0%;
    }

    /* .maxwidth {
        width: 100%;
    } */

    .right-flex {
        flex: 1 0 58.333333%;
        max-width: 100%;
    }

    .xx {
        flex: 1 0 52.333333%;
        max-width: 100.333333%;
    }

    .messages-box {
        width: 545px;
    }

    .chat-with-artist-left-container-top-text {
        margin-right: 70px;
    }

    .chat-with-artist-left-container-top {
        /* background-color: rgb(248 249 250); */
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }

    .chat-with-artist-body-right-container-top {
        background-color: rgb(248 249 250);
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }
}

.markArtist {
    background-color: rgb(243, 243, 243);
}

/* artits view detailopp css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  body {
    background-color: #FAF6F6 !important;
  }

.card-color{
    background-color:white !important;
    padding: 5px 5px;
}
  
@media (max-width:598px) {
	#cardheaderimg{
		width: 30px !important;
		 		
	}
}

@media (max-width:544px) {
	#cardContainer {
		width: 100%;
	}

	.containerfluid {
		width: 90%;
	}

	#cardWrapper {
		width: 100%;
	}

	body {
		width: 450px;
		margin: auto !important;
	}

	.container {
		width: 100%;
	}
}


@media (max-width: 576px) {
	.container form {
		width: 100% !important;
	}
	#cardheaderimg{
		width: 30px !important;
		 		
	}
	.container #navwrap {
		width: 100%;
		text-align: center;
	}

	.nav {
		max-width: 100% !important;
		
	}
    #inputTag{
        width: 100% !important;
    }
}
@media(max-width : 759px){

    .container form{
        /* border: 2px solid red; */
        width: 50% !important;
    }
}
@media (max-width: 600px) {
	.container #navwrap {
		width: 100%;
		text-align: center;
	}

	.flex {
		flex-direction: column;
		align-items: center;
	}

	.flex .bi-geo-alt-fill {

		display: block;
		width: 100%;
	}

	.flex div {
		display: block;
		width: 100%;

	}

	.container form {
		width: 100% !important;
	}

	.container a {
		width:40% !important;

	}
   
}


/* artist view skill details css */
.card-color{
    background-color:white !important;
    padding: 5px 5px;
}
  
@media (max-width:598px) {
	#cardheaderimg{
		width: 30px !important;
		 		
	}
}

@media (max-width:544px) {
	#cardContainer {
		width: 100%;
	}

	.containerfluid {
		width: 90%;
	}

	#cardWrapper {
		width: 100%;
	}

	body {
		width: 450px;
		margin: auto !important;
	}

	.container {
		width: 100%;
	}
}


@media (max-width: 576px) {
	.container form {
		width: 100% !important;
	}
	#cardheaderimg{
		width: 30px !important;
		 		
	}
	.container #navwrap {
		width: 100%;
		text-align: center;
	}

	.nav {
		max-width: 100% !important;
		
	}
    #inputTag{
        width: 100% !important;
    }
}
@media(max-width : 759px){

    .container form{
        /* border: 2px solid red; */
        width: 50% !important;
    }
}
@media (max-width: 600px) {
	.container #navwrap {
		width: 100%;
		text-align: center;
	}

	.flex {
		flex-direction: column;
		align-items: center;
	}

	.flex .bi-geo-alt-fill {

		display: block;
		width: 100%;
	}

	.flex div {
		display: block;
		width: 100%;

	}

	.container form {
		width: 100% !important;
	}

	.container a {
		width:40% !important;

	}
   
}
@media only screen and (min-width: 765px) 
{
    .btn_skill{
        margin-left: 50%;
    }
}


/* Artist registration */
/* *{
    font-family: 'Zen Kurenaido', sans-serif;
       font-weight: bold;
    } */
    .header {
        box-shadow: 2px 3px 9px 0px;
        border-radius: 11px;
        height: 86px;
    }
    .register-text {
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        margin-top: 15px;
    }

    .img_reg{
        box-shadow:0 10px 40px rgba(206, 13, 13, 0.5)
    }
    @media only screen and (max-width: 768px) {
       
            .navbar-brand{
    
                text-align: center;
                width: 100%;
            }
            .d-flex{
                width: 100%;
            }
            .container form{
                width: 100% !important ;
            }
            .container a{
                width: 100% !important ;
         
            }
         
    }
  
@media (min-width: 1200px){

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
   

}

@media only screen and (max-width: 900px) {
       
    #form-container #img-container {
        width: 100% !important;
        margin-top: 0 !important;
        
    }
   
    #form-container{
        flex-direction: column;
    }
    #form-wrapper{
        width: 100% !important;
    
    }
         
    }
    @media only screen and (max-width:480px)
    {
        /* .reg{margin-top:25px;} */
    }