


.center {
  position:relative;
  margin-top:-150px;
  /* top:50%;
  left:50%; */
  /* transform:translate(-50%,-50%); */
}
.popup {
  /* top:50%;
  left:50%; */
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #DC143C;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#DC143C;
} 
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#DC143C;
  color:#f5f5f5;
  border:2px solid #DC143C;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#DC143C;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
@media only screen and (max-width:780px)
{
.btn_art_reg{
  margin-top: 13px;
}
.name-ekalakaar{
  display: none;
}
}
/* .name-ekalakaar{
margin-left: 57px;
position: fixed;
} */
@media only screen and (max-width:530px)
{
.patron-dashboard-header-patron-img{
  margin-top: 20px;
}
}

/* @media only screen and (max-width:780px) and (min-width:700px)
{
.name-ekalakaar{
  position: static;
  left: -250px;
}
}
@media only screen and (max-width:700px) and (min-width:600px)
{
.name-ekalakaar{
  position: fixed;
  left: -280px;
}
}
@media only screen and (max-width:780px) and (min-width:700px)
{
.name-ekalakaar{
  position: fixed;
  left: -300px;
}
} */

.forgot_body{
width:50%;
margin:120px auto;
border:2px solid grey;
height: 50vh;
border-radius: 20px;
background-color: rgba(128, 128, 128, 0.296);
text-align: center;
padding: 30px;
}
.forgot_head{
font-size: 30px;
font-weight: bolder;
text-align: center;
}
.forgot_cont{
font-size: larger;
font-weight: 500;
}
.input_otp{
width: 50px;
height: 60px;
margin:30px;
border: 1px solid black;
text-align: center;
font-size: 26px;
color: #DC143C;
}
.forgot_resend{
background: none;
color: black;
}
.forgot_btn{
margin-bottom: 12px;
border-radius: 10px;
padding:10px 20px;
}
@media only screen and (max-width: 1220px) and (min-width: 1000px) 
{
.forgot_body{
  width:70%;
}
}
@media only screen and (max-width: 1000px) and (min-width: 790px) 
{
.forgot_body{
  width:90%;
}
}
@media only screen and (max-width: 790px) 
{
.forgot_body{
  width:100%;
}
}
@media only screen and (max-width: 550px) 
{
.input_otp{
  margin:10px;
}
}
.password_body{
width: 50%;
margin:120px auto;
border:2px solid grey;
height: 50vh;
border-radius: 20px;
background-color:white;
padding: 30px;
}
.input_pss_chnge{
width: 50%;
background-color:rgba(128, 128, 128, 0.293);
border-radius: 0px;
border: 1px solid black;
margin-top: -15px;
height: 30px;
}
.btn_psswrd_change{
text-align: center;
margin: 20px;
}
.btn_pss{
padding: 10px;
font-size: 18px;
border-radius: 10px;
}
@media only screen and (max-width: 1000px) and (min-width:700px)
{
.input_pss_chnge{
  width: 70%;
}
.password_body{
  width:70%
}
}
@media only screen and (max-width: 700px)
{
.input_pss_chnge{
  width: 80%;
}
.password_body{
  width:100%
}
}
/* create community */
.community_inputs{
background-color: white;
border: 1px solid rgba(128, 128, 128, 0.356);
height: 40px;
border-radius: 10px;
width: 35vw;
}
.row_cont_community{
display: flex;
}
.sector_comm,.art_comm,.subgroup,.participant_limit,.min_age,.expertise{
width: 50vw;
}
.s{
margin-left: 15px;
}
.comm_label{
width: 20vw;
}
@media only screen and (max-width:800px) and (min-width:600px)
{
.row_cont_community{display: block;}
.comm_label{
  width: 25vw;
}
.sector_comm,.art_comm,.subgroup,.participant_limit,.min_age,.expertise{
  width: 80vw;
}
.s{
  margin-left: 0px;
}
}
@media only screen and (max-width:600px)
{
.row_cont_community{display: block;}
.comm_label{
  width: 30vw;
}
.sector_comm,.art_comm,.subgroup,.participant_limit,.min_age,.expertise{
  width: 90vw;
}
.s{
  margin-left: 0px;
}
.community_inputs{
  width:45vw;
}
}
@media only screen and (max-width:400px)
{
.row_cont_community{display: block;}
.comm_label{
  width: 40vw;
}
.sector_comm,.art_comm,.subgroup,.participant_limit,.min_age,.expertise{
  width: 95vw;
}
.s{
  margin-left: 0px;
}
.community_inputs{
  width:55vw;
}
}
.img_chat{
width:50px;
height:60px;
border-radius: 50px;
}
.candidate{
display: flex;
font-size: 17px;
align-items: center;
margin-left: 25px;
}
.name{
margin-left: 20px;
}
.admin{
font-size: 20px;
font-weight: 500;
margin-left: 10px;
}
.member{
font-size: 25px;
font-weight: 500;
}
.content-about-chat-comm{
margin-left: 20px;
}
.infoo{
margin:30px;
margin-left: 60px;
}
.rounded{
display: flex;
}
.chat_comm_msg{
background-color: rgba(128, 128, 128, 0.295);
width: 35vw;
border: 1px solid black;
color: black;
border-radius: 10px;
margin-left: 20px;
padding: 20px;
}

/* collaborations css */
.date_collab_search{
margin-left:10vw;
}
.collab_margin_below{
margin-bottom: 20px;
}
@media only screen and (max-width:1500px)
{
.btn_collab_sub{
  margin-top: 30px;
}
}
