/* login and register */
.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
    box-sizing: border-box;
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  }
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  
  }
  
  @media screen and (min-width: 400px) {
    .auth-form-container {
      padding: 2rem;
      border: 2px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  @media screen and (max-width:1400px) and (min-width:1100px)
  {
    .login-form{
      width: 30vw;
    }
  }
  @media screen and (max-width:1100px) and (min-width:900px)
  {
    .login-form{
      width: 40vw;
    }
  }
  @media screen and (max-width:900px) and (min-width:750px)
  {
    .login-form{
      width:43vw;
    }
    input{
      width: 43vw;
    }
  }
  @media screen and (max-width:750px) and (min-width:570px)
  {
    .auth-form-container{
      width: 80vw;
    }
    .login-form{
      width:55vw;
    }
    input{
      width: 53vw;
    }
    #login_or_line{
      width: 40%;
    }
  }
  @media screen and (max-width:570px) and (min-width:450px)
  {
    .auth-form-container{
      width: 85vw;
    }
    .login-form{
      width:75vw;
    }
    input{
      width: 73vw;
    }
    #login_or_line{
      width: 40%;
    }
  }
  @media screen and (max-width:450px) and (min-width:400px)
  {
    .auth-form-container{
      width: 94vw;
    }
    .login-form{
      width:80vw;
    }
    input{
      width: 80vw;
    }
    #login_or_line{
      width: 40%;
    }
  }
  @media screen and (max-width:400px) and (min-width:350px)
  {
    .App{
      padding-top: 1rem;
    }
    .auth-form-container{
      width: 100vw;
      padding-top: 0.5rem;
      border-radius: 10px;
      margin: 0.5rem;
    }
    .login-form{
      width:90vw;
    }
    input{
      width: 90vw;
      height: 45px;
    }
    #login_or_line{
      width: 40%;
    }
    .login_heading{
      font-size: 40px;
      margin: 30px;
    }
  }
  @media screen and (max-width:350px)
  {
    .App{
      padding-top: 3rem;
    }
    .login_heading{
      font-size: 40px;
      margin: 30px;
    }
    .auth-form-container{
      width: 100vw;
      padding-top: 0.5rem;
      border-radius: 10px;
      margin: 0.5rem;
    }
    .login-form{
      width:100vw;
      font-size: 20px;
    }
    input{
      width: 100vw;
      height: 45px;
      font-size: 20px;
    }
    #login_or_line{
      display: none;
    }
    .login_need_acc{
      font-size: 20px;
    }
    label
    {font-size: 25px;}
  }
  label {
    text-align: left;
    padding: 0.25rem 0;
    font-size: large;
  }
  
  input {
    /* margin: 0.5rem 0; */
    /* padding: 1rem; */
    border: none;
    border-radius: 10px;
    font-size: medium;
  }
  
  button {
    /* border: none; */
    /* background-color: rgb(128, 128, 128); */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
  
  .link-btn {
    background: none;
    color: black;
    text-decoration: underline;
  }

  /* new css of login page */
  .log_or_part{
    margin: 10px 0px;
    text-align: center;
  }
  #login_or{
    border:2px solid rgba(255, 255, 255, 0.448);
    color: rgba(255, 255, 255, 0.448);
    padding: 2px 6px;
    border-radius: 10px;
  }
  #login_or_line{
    background-color: rgba(255, 255, 255, 0.448);
    height: 2px;
    width: 45%;
    margin-bottom: 3px;
  }
  .login_diff_btns{
    display: flex;
  }
  .login_buttons{
    width: 30%;
    background: none;

  }
  .login_b{
    color:white;
    background: #210b52;
    width: 55px;
    height: 52px;
    border:4px solid #210b52;
    border-radius: 50px;
    padding: 5px;
  }
  
  .login_forgot_pass{
    color: rgba(255, 255, 255, 0.781) ;
  }
  .login_forgot_pass:hover{
    color: white;
  }
  .login_need_acc{
    color: #19083e;
    text-decoration: none;
  }
  .login_need_acc:hover{
    color: white;
  }
  .log_in_button{
    border-radius: 10px;
  }


  /* for register page */
  .register-form{
    width: 100%;
  }
  .reg_row{
    display: flex;
  }
  .reg_unit{
    width: 50%;
    margin: 5px 20px;
  }
  .reg_label{
    text-align: left;
  }
  .reg_input input{
    width:20vw;
    margin-left: 0px;
  }
  @media screen and (max-width:1400px) and (min-width:1100px)
  {
    .reg_inside{
      width:70vw;
    }
    .reg_input input{
      width: 25vw;
      margin-left: -50px;
    }
  }
  @media screen and (max-width:1100px) and (min-width:750px)
  {
    .reg_inside{
      width:80vw;
    }
    .reg_input input{
      width: 32vw;
      margin-left: -40px;
    }
    .reg_unit{
      margin:5px;
    }
  }
  @media screen and (max-width:750px) and (min-width:650px)
  {
    .reg_inside{
      width:90vw;
    }
    .reg_input input{
      width: 35vw;
      margin-left: -30px;
    }
    .reg_unit{
      margin:5px;
    }
  }
  @media screen and (max-width:650px) and (min-width:530px)
  {
    .reg_row{display: block;}
    .reg_inside{
      width:62vw;
    }
    .reg_input input{
      width: 50vw;
      margin-left: 0px;
    }
    .reg_label{width:60vw;}
    .reg_unit{
      margin:5px;
    }
  }
  @media screen and (max-width:530px) and (min-width:400px)
  {
    .reg_row{display: block;}
    .reg_inside{
      width:82vw;
    }
    .reg_input input{
      width: 60vw;
      margin-left: 0px;
    }
    .reg_label{width:60vw;}
    .reg_unit{
      margin:5px;
    }
  }
  @media screen and (max-width:400px)
  {
    .reg_row{display: block;}
    .reg_inside{
      font-size: 20px;
      width:92vw;
      margin-left: -70px;
    }
    .reg_head{
      width: 80vw;
      text-align: center;
    }
    .reg_input input{
      width: 100vw;
      margin-left: 0px;
    }
    .reg_label{width:60vw;}
    .reg_unit{
      margin:5px;
    }
  }